<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>QuickFindUnitTests</key>
		<dict>
			<key>testPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000536</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceQuick()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.53583</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 1, 2018 at 2:41:11 PM</string>
				</dict>
			</dict>
			<key>testPerformanceSlow()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.53318</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 1, 2018 at 2:41:11 PM</string>
				</dict>
			</dict>
		</dict>
		<key>UnionFindTests</key>
		<dict>
			<key>testPerformanceExample()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>8.076e-07</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 1, 2018 at 2:41:11 PM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
